<launch>
  <arg name="uav_name" default="glider"/>
  <arg name="enable_logging" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="$(arg uav_name)"/>

  <arg name="enable_wind" default="true"/>
  <arg name="record_rosbag" default="false"/>
  <arg name="rosbag_path" default=""/>
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>

  <group ns="uav_1">
    <include file="$(find rotors_gazebo)/launch/spawn_fixed_wing.launch">
      <arg name="uav_name" value="$(arg uav_name)" />
      <arg name="namespace" value="uav_1" />
      <arg name="model" value="$(find rotors_description)/urdf/$(arg uav_name)_base.xacro" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)" />
      <arg name="enable_wind" value="$(arg enable_wind)"/>
      <arg name="record_rosbag" default="$(arg record_rosbag)"/>
      <arg name="rosbag_path" default="$(arg rosbag_path)"/>
    </include>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <rosparam param = "source_list"> ["/all_joint_states"]</rosparam>
      <!--<param name = "use_gui" value = "true"/>-->
    </node>
    
  </group>

</launch>

